{% extends "squelette/base.html" %}

{% block content %}

<h2>

Choisir une offre

</h2>

{% if offers %}

{% for offer in offers %}

<div class="card mb-3">

<div class="card-body">

<h5>

{{ offer.title }}

</h5>

<a

class="btn btn-primary"

href="{{ url_for(

'match.match',

cv_id=cv.id,

offer_id=offer.id

) }}"

>

Comparer

</a>

</div>

</div>

{% endfor %}

{% else %}

<div class="alert alert-warning">

Aucune offre disponible.

</div>

<a

class="btn btn-success"

href="{{ url_for('offre.upload_offre')}}" 
>

Créer une offre

</a>

{% endif %}

{% endblock %}