<form method="POST">

    <h2>Créer un compte</h2>

    <input
        type="text"
        name="nom"
        placeholder="Nom"
        required
    >

    <input
        type="text"
        name="prenom"
        placeholder="Prénom"
        required
    >

    <input
        type="email"
        name="email"
        placeholder="Email"
        required
    >

    <input
        type="password"
        name="password"
        placeholder="Mot de passe"
        required
    >

    <button type="submit">
        S'inscrire
    </button>

</form>